/* CSS Reset - from partner-prop.com */
/* ⚠️ すべてのスタイルは .site-layout 内にスコープ化 - adminには影響しない */

.site-layout html, .site-layout body, .site-layout div, .site-layout span, .site-layout applet, .site-layout object, .site-layout iframe,
.site-layout h1, .site-layout h2, .site-layout h3, .site-layout h4, .site-layout h5, .site-layout h6, .site-layout p, .site-layout blockquote, .site-layout pre,
.site-layout a, .site-layout abbr, .site-layout acronym, .site-layout address, .site-layout big, .site-layout cite, .site-layout code,
.site-layout del, .site-layout dfn, .site-layout em, .site-layout img, .site-layout ins, .site-layout kbd, .site-layout q, .site-layout s, .site-layout samp,
.site-layout small, .site-layout strike, .site-layout strong, .site-layout sub, .site-layout sup, .site-layout tt, .site-layout var,
.site-layout b, .site-layout u, .site-layout i, .site-layout center,
.site-layout dl, .site-layout dt, .site-layout dd, .site-layout ol, .site-layout ul, .site-layout li,
.site-layout fieldset, .site-layout form, .site-layout label, .site-layout legend,
.site-layout table, .site-layout caption, .site-layout tbody, .site-layout tfoot, .site-layout thead, .site-layout tr, .site-layout th, .site-layout td,
.site-layout article, .site-layout aside, .site-layout canvas, .site-layout details, .site-layout embed,
.site-layout figure, .site-layout figcaption, .site-layout footer, .site-layout header, .site-layout hgroup,
.site-layout menu, .site-layout nav, .site-layout output, .site-layout ruby, .site-layout section, .site-layout summary,
.site-layout time, .site-layout mark, .site-layout audio, .site-layout video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
.site-layout article, .site-layout aside, .site-layout details, .site-layout figcaption, .site-layout figure,
.site-layout footer, .site-layout header, .site-layout hgroup, .site-layout menu, .site-layout nav, .site-layout section {
	display: block;
}

.site-layout {
	line-height: 1;
}

.site-layout ol, .site-layout ul {
	list-style: none;
}

.site-layout blockquote, .site-layout q {
	quotes: none;
}

.site-layout blockquote:before, .site-layout blockquote:after,
.site-layout q:before, .site-layout q:after {
	content: '';
	content: none;
}

.site-layout table {
	border-collapse: collapse;
	border-spacing: 0;
}

.site-layout a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

.site-layout input, .site-layout textarea, .site-layout select, .site-layout button {
	font-family: inherit;
	font-size: inherit;
}

.site-layout .styleReset {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent;
	border: none;
	border-radius: 0;
	font: inherit;
}

/* アクセシビリティ: キーボードナビゲーション用フォーカス表示 */
.site-layout *:focus-visible {
	outline: 2px solid #3b82f6;
	outline-offset: 2px;
}

.site-layout .styleReset::-webkit-search-decoration,
.site-layout .styleReset::-webkit-search-cancel-button,
.site-layout .styleReset::-webkit-search-results-button,
.site-layout .styleReset::-webkit-search-results-decoration {
	display: none;
}
